header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px 22px 0px; }
  header form {
    display: flex;
    align-items: center; }
  header select {
    font-size: 14px;
    border: none;
    color: #109cf1;
    background-color: #f7f8fc; }
  header option {
    color: #109cf1; }
  header .plus {
    background-color: #0148f5;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: white;
    font-size: 30px;
    box-shadow: 0px 4px 10px;
    margin: 6px 0px 6px 10px; }

main {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px; }
  main .main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto 20px 0px; }
  main .bg_logo {
    background: url(../img/bg_logo.png) left center;
    background-repeat: no-repeat;
    background-size: 30px;
    display: inline-block;
    padding: 10px 0px 10px 38px;
    color: black;
    font-weight: bold;
    text-decoration: none; }
  main .fas {
    margin-right: 15px;
    color: #c2cfe0; }
  main .main__body {
    padding-top: 30px;
    border-top: 1px solid #ebeff2; }
    main .main__body .main__body--1, main .main__body .main__body--2, main .main__body .main__body--3, main .main__body .main__body--4 {
      display: inline-block;
      vertical-align: top;
      width: 24.7%;
      min-width: 260px;
      min-height: 260px;
      position: relative; }
    main .main__body .main__body--1 {
      border-right: 1px solid #ebeff2;
      padding-right: 30px; }
    main .main__body .main__body--2 {
      border-right: 1px solid #ebeff2;
      padding: 0px 30px 0px 30px; }
    main .main__body .main__body--3 {
      border-right: 1px solid #ebeff2;
      padding: 0px 30px 0px 30px; }
    main .main__body .main__body--4 {
      padding-left: 30px; }
    main .main__body .main__body--2,
    main .main__body .main__body--3,
    main .main__body .main__body--4 {
      color: #334d6e; }
    main .main__body .main__body--3 h4 {
      color: #707683;
      font-weight: 300;
      margin-bottom: 15px; }
    main .main__body .main__body h3 {
      margin-bottom: 20px; }
    main .main__body .triangle_dwn {
      color: #dd4c3a;
      display: inline-block;
      margin-left: 10px; }
    main .main__body .triangle_dwn:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 3px 0 3px;
      border-color: #dd4c3a transparent transparent transparent;
      vertical-align: middle;
      display: inline-block;
      margin-right: 6px; }
    main .main__body .triangle_up {
      color: #2ED47A;
      display: inline-block;
      margin-left: 10px; }
    main .main__body .triangle_up:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 3px 3px 3px;
      border-color: transparent transparent #2ED47A transparent;
      vertical-align: middle;
      display: inline-block;
      margin-right: 6px; }
    main .main__body .per__cent h2 {
      color: #2ed47a;
      font-size: 3.6em;
      display: inline-block;
      margin-right: 15px;
      line-height: 40px;
      margin-bottom: 15px; }
    main .main__body .blue {
      color: #109cf1;
      display: inline-block;
      width: 15px;
      text-align: center; }
    main .main__body .blue__2 {
      color: #109cf1;
      display: inline-block;
      width: 45px;
      text-align: center; }
    main .main__body .errors p {
      color: #dd4c3a; }
    main .main__body .warnings p {
      color: #f18f1c; }
    main .main__body .notices p {
      color: #109cf1; }
    main .main__body .score {
      width: 140px;
      display: inline-block; }
    main .main__body .inline {
      display: inline-block; }
    main .main__body .ring__1::before {
      content: "";
      width: 3px;
      height: 3px;
      border: 2px solid #0148F5;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px; }
    main .main__body .ring__2::before {
      content: "";
      width: 3px;
      height: 3px;
      border: 2px solid #4078ff;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px; }
    main .main__body .ring__3::before {
      content: "";
      width: 3px;
      height: 3px;
      border: 2px solid #80a5ff;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px; }
    main .main__body .ring__4::before {
      content: "";
      width: 3px;
      height: 3px;
      border: 2px solid #eea69d;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px; }
    main .main__body .circle__1::before {
      content: "";
      width: 5px;
      height: 5px;
      background-color: #f18f1c;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle; }
    main .main__body .circle__2::before {
      content: "";
      width: 5px;
      height: 5px;
      background-color: #2ED47A;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle; }
    main .main__body .circle__1 P {
      display: inline-block; }
    main .main__body .circle__2 P {
      display: inline-block; }
    main .main__body .graph {
      margin: 10px 0px;
      position: absolute;
      bottom: 0;
      width: 80%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  background-color: #f7f8fc;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px; }

h1 {
  font-weight: bold; }

h3 {
  color: #818e9b;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 20px; }

.global__container {
  height: 850px; }

.global__container--sub {
  margin: 0 auto;
  width: 1089px; }

.wrapper {
  margin: 0 auto; }

@media (max-width: 575.98px) {
  body {
    font-size: 14px;
    padding: 10px;
    min-width: 475px; }

  .wrapper {
    width: 100%; }

  header {
    margin: 10px 0px 8px 0px; }

  h1 {
    font-weight: bold;
    font-size: 20px; }

  main {
    padding: 10px; }
    main .blue__2 {
      width: 60px; }
    main .main__body--1 {
      border-right: none;
      padding: 10px 5px; }
    main .main__body--2 {
      border-top: 1px solid #ebeff2;
      border-right: none;
      padding: 10px 5px; }
    main .main__body--3 {
      border-top: 1px solid #ebeff2;
      border-right: none;
      padding: 10px 5px; }
    main .main__body--4 {
      border-top: 1px solid #ebeff2;
      padding: 10px 5px; }

  main .main__body .main__body--1, main .main__body .main__body--2, main .main__body .main__body--3, main .main__body .main__body--4 {
    width: 100%;
    border-right: none;
    padding: 30px 0px 30px 0px; }

  main .main__body {
    padding-top: 0px; }

  main .main__body .blue__2 {
    width: 50px; }

  main .main__body .graph {
    position: static;
    width: auto; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 14px;
    padding: 10px; }
    body main .main__body .main__body--1, body main .main__body .main__body--2, body main .main__body .main__body--3, body main .main__body .main__body--4 {
      width: 100%;
      border-right: none;
      padding: 30px 0px 30px 0px; }
    body h1 {
      font-weight: bold;
      font-size: 20px; }
    body main .main__body {
      padding-top: 0px; }
    body .wrapper {
      width: 100%; }
    body header {
      margin: 10px 0px 8px 0px; }
    body main {
      padding: 10px; }
    body .blue__2 {
      width: 60px; }
    body .main__body--1 {
      border-right: none;
      padding: 10px 5px; }
    body .main__body--2 {
      border-top: 1px solid #ebeff2;
      order-right: none;
      padding: 10px 5px; }
    body .main__body--3 {
      border-top: 1px solid #ebeff2;
      border-right: none;
      padding: 10px 5px; }
    body .main__body--4 {
      border-top: 1px solid #ebeff2;
      padding: 10px 5px; } }
main .main__body .graph {
  position: static;
  width: auto; }

/*# sourceMappingURL=styles.css.map */
